Package: freecad
Version: [BUILD_VERSION]
Architecture: [ARCH]
Maintainer: Aleph Objects, Inc. <info@alephobjects.com>
Installed-Size: 100000
Depends:  libsoqt4-20 (>= 1.6), 
	python-collada, python-matplotlib, python-pivy (>= 0.5.0~v609hg-2), python-ply, python-pyside, python:any (>= 2.6.6-7~), python2.7, 
	libboost-filesystem1.55.0, libboost-program-options1.55.0, libboost-python1.55.0, libboost-regex1.55.0, libboost-signals1.55.0, 
	libboost-system1.55.0, libboost-thread1.55.0, libc6 (>= 2.14), libcoin80, libfreeimage3, libfreetype6 (>= 2.2.1), 
	libgcc1 (>= 1:4.1.1), libgl1-mesa-glx | libgl1, libglu1-mesa | libglu1, libice6 (>= 1:1.0.0), 
	liboce10, 
	libpyside1.2 (>= 1.0.0~beta3), libpython2.7 (>= 2.7), 
	libqt4-network (>= 4:4.5.3), libqt4-opengl (>= 4:4.6.1), libqt4-svg (>= 4:4.5.3), libqt4-xml (>= 4:4.5.3), 
	libqt4-xmlpatterns (>= 4:4.5.3), libqtcore4 (>= 4:4.8.0), libqtgui4 (>= 4:4.8.0), libqtwebkit4 (>= 2.1.0~2011week13), 
	libshiboken1.2 (>= 1.1.0), libsm6, libspnav0, libstdc++6 (>= 4.9), libx11-6, libxerces-c3.1, libxext6, 
	libzipios++0c2a, zlib1g (>= 1:1.1.4)
Section: science
Priority: extra
Homepage: http://freecadweb.org/
Description:  Extensible Open Source CAx program (alpha)
 FreeCAD is an Open Source CAx RAD based on OpenCasCade, Qt and Python.
 It features some key concepts like macro recording, workbenches, ability
 to run as a server and dynamically loadable application extensions and
 it is designed to be platform independent.
 .
 Currently, FreeCAD can import and display CAD models in IGES, STEP, and
 BRep formats and meshes in STL, BMS, AST and Wavefront OBJ formats.
 Editing and modeling features are currently somewhat limited.
