[Desktop Entry]
Version=1.0
Name=FreeCAD
Comment=Feature based Parametric Modeler
GenericName=CAD Application
Exec=/usr/bin/freecad %F
Path=/usr/lib/freecad
Terminal=false
Type=Application
Icon=/usr/share/freecad/freecad.xpm
Categories=Graphics;Engineering;
StartupNotify=true
MimeType=application/x-extension-fcstd
