[Desktop Entry]
Type=Application
Name=FreeCAD
Comment=Feature based Parametric Modeler
Icon=/usr/share/freecad/freecad.xpm
Exec=/usr/bin/freecad %F
Path=/usr/lib/freecad
StartupNotify=true
Terminal=false
Categories=Graphics;Engineering;
MimeType=application/x-extension-fcstd
